.about-container {
  display: flex;
  width: 100%;
  margin-left: 4rem;
  padding-top: 3rem;
  height: 40%;

  justify-content: center;
  align-items: flex-start;
}
.about-me {
  &-title {
    margin: 0;
    font-size: 3rem;
    text-transform: uppercase;
  }
  &-paragraph {
    font-size: 1.2rem;
    width: 80%;
    margin: 0;
  }
}
.text-box {
  width: 50%;
}
.image-box {
  width: 50%;
  .image {
    width: 90%;
    height: auto;
  }
}
#about-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
@media only screen and (max-width: 1300px) {
  .image-box {
    display: none;
  }
  .text-box {
    width: 100%;
  }
}
@media only screen and (min-width: 1900px) {
  .about-container {
    padding-top: 8rem;
  }
}
@media only screen and (max-width: 400px) {
  .about-container {
    padding-top: 5rem;
  }
}
