.card {
  height: 100%;
  padding: 1rem 2rem;
  cursor: pointer;
  background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.863),
      rgba(0, 0, 0, 0.883)
    ),
    url(https://i.ibb.co/n898FMW/alex-perez-p-Egs-WN0kwb-Q-unsplash-min.jpg)
      no-repeat bottom;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.863),
      rgba(0, 0, 0, 0.883)
    ),
    url(https://i.ibb.co/n898FMW/alex-perez-p-Egs-WN0kwb-Q-unsplash-min.jpg)
      no-repeat bottom;
  margin: 2rem 0;
  width: 20rem;
  transition: all 0.3s ease-in-out;

  display: flex;
  .text-content {
    width: 80%;
  }

  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.75rem;
    width: 100%;
  }
  strong {
    text-transform: uppercase;
    font-size: inherit + 1rem;
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px 10px rgba(rgb(0, 0, 0), 0.2);
  }
}
.button {
  border: solid 3px white;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.75rem 0;
  font-size: 0.75rem;
  font-weight: 700;
  color: white;
}
