.project-display-card {
  display: flex;
  margin: 1rem auto 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 2rem;
  margin-bottom: 7rem;
  display: flex;
  flex-wrap: wrap;
}
.heading {
  padding-top: 5rem;
  text-align: center;
  text-transform: uppercase;
}
.maincontainer {
  padding-top: 6rem;
}


