.contact-form {
  width: 100%;
  margin: 4rem 4rem;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  .text-content {
    color: white;
    width: 100%;
    h1 {
      margin: 0;
    }
    p {
      font-size: 1rem;
      width: 80%;
    }
  }
  form {
    color: white;
    font-family: inherit;
    display: flex;
    flex-direction: column;
  }
  input,
  input:focus,
  input:active {
    font-family: inherit;
    font-size: 1rem;
    width: 40%;
    padding: 0.5rem 0.5rem;
    border: none;
    border-bottom: solid 2px black;
    outline: none;
  }
  label {
    padding-top: 1rem;
  }
  textarea,
  textare:focus {
    font-family: inherit;
    display: block;
    height: 200px;
    width: 40%;
    padding: 0.5rem 0.5rem;
    border: none;
    border-bottom: solid 2px black;
    outline: none;
  }
  #submit {
    text-align: center;
    color: white;
    border: none;
    margin-top: 1rem;
    background-color: rgb(230, 89, 24);
    width: 10%;
    border-radius: 50px;
    cursor: pointer;
  }
}
