#form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
  margin: 2rem auto;
  padding: 2rem;
  margin-bottom: 6rem;
  border-radius: 10px;

  background: -webkit-linear-gradient(
      right,
      rgba(0, 0, 0, 0.863),
      rgba(0, 0, 0, 0.883)
    ),
    url(https://i.ibb.co/6PGnKL5/steven-roe-bx-Uyl-Pip-Wm-M-unsplash-min.jpg)
      no-repeat center;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.822),
      rgba(0, 0, 0, 0.808)
    ),
    url(https://i.ibb.co/6PGnKL5/steven-roe-bx-Uyl-Pip-Wm-M-unsplash-min.jpg)
      no-repeat center;
}
.form {
  display: flex;
  flex-direction: column;
}
.input-section,
.input-section:focus {
  padding: 7px 5px;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  border: none;
  margin-top: 5px;
}
.label {
  font-size: 0.75rem;
  padding-top: 1rem;
  font-weight: 700;
}
#submit {
  font-size: 1rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #fff;
  border: none;
  margin-top: 1rem;
  width: 25%;
  padding: 7px 10px;
}
