.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 4rem;
}

.logo-box {
  margin: 1rem;
  font-size: 1.4rem;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.nav-item {
  margin-left: 1rem;
}

@media only screen and (max-width: 700px) {
  .header {
    margin: 1rem 2rem;
  }
}
